<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
        </nav>
    </header>
    <h1>Productos</h1>
    <table>
        <thead>
            <tr>
                <td>Título</td>
                <td>Descripción</td>
            </tr>
        </tbody>
        <tbody>
            <% productos.forEach(producto => { %>
            <tr>
                <td><%= producto.title %></td>
                <td><%=  producto.description %></td>
            </tr>
            <% })%>
        </tbody>
    </table>
    <footer>
        <small>Copyright 2024</small>
    </footer>
</body>
</html>